<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SMACTracker - Popup</title>

    <!-------- Scripts -------->
    <!-- JQuery -->
    <script type="text/javascript" src="/thirdparty/jquery-3.4.1.min.js"></script>

    <!-- Popper (required for Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Datepicker -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <!-- Knockout -->
    <script type="text/javascript" src="/thirdparty/knockout-3.5.1.js"></script>
    <script type="text/javascript" src="/thirdparty/knockout.mapping-latest.js"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f35b244a4d.js" crossorigin="anonymous"></script>

    <!-- Local -->
    <script type="text/javascript" src="/lib/activity.js"></script>

    <!-------- Styles --------->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="/css/custom.css">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand" href="#">
            <img src="/logo.png" width="25" height="25" alt="SMAC logo">
            <span class="navbar-brand mb-0 h1">SMACTracker</span>
        </div>
    </nav>
    <div class="container-md">
        <!-- Content here -->
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="panel grey">
                    <div class="site-count-area">
                        <span class="site-count-num">5</span>
                        <span class="site-count-text"> <i> sites actively tracked</i></span>
                    </div>
                </div>
                <div class="panel bg-light">
                    <h6>Settings</h6>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                            data-bind="checked: OnlyTrackActiveTab">
                        <label class="custom-control-label" for="customCheck1">Track active tabs only</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="panel gold">
                    <h5>Today's Usage</h5>
                    <div class=todays-minute-area>
                        <span class="todays-minutes-num">144</span>
                        <span class="todays-minutes-text"> minutes</span>
                    </div>
                    <div class="consumption-stats">
                        <p>Your consumption is <span class="consumption-stats-text">Above Average</span></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3>Activity</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <label id="start-date-text" for="start-date">Start Date</label>
                        <div class="input-group">
                            <input type="text" id="start-date" class="form-control"
                                data-bind="datepicker: StartDate, datepickerOptions: DatepickerOptions"
                                aria-labelledby="start-date-text">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label for="end-date">End Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="end-date"
                                data-bind="datepicker: EndDate, datepickerOptions: DatepickerOptions">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="btn-group add-padding-top" role="group">
                            <button type="button" class="btn btn-primary">Pie</button>
                            <button type="button" class="btn btn-secondary">Bar</button>
                            <button type="button" class="btn btn-secondary">Bar [Time]</button>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <canvas class="add-padding-top" data-bind="chart: { type: 'pie', data: ChartData }"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="panel green manage-site-container">
                    <div class="row">
                        <div class="col">
                            <h4>Manage tracked sites</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col add-padding-top">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Add domain to track" data-bind="value: NewDomain">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-primary" type="button" data-bind="click: AddDomain">Add</button>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="domains-container">
                                <!-- ko foreach: Domains -->
                                <div class="domain-row">
                                    <span class="domain-row--text" data-bind="text: $data"></span>
                                    <a href="#" data-bind="click: $root.DeleteDomain" class="domain-row--delete-button">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>